.filled svg {
	fill: var(--primary);

}

.star svg {
	margin-right: 5px;
	color: #c0bebe;
}

.editabel {
	cursor: pointer;
}
.RatingWrapper {
	position: relative;
}

.ErrorMessage {
	position: absolute;
	bottom: -15px;
	left: 0;
	color: tomato;
}


.error svg {
	stroke: tomato;
}
